.panel
{
	min-height: 440px;
	padding: 1% 2%;
	height: 90vh;
	float: left;
}

.leftPanel
{
	width: 46vw;
	margin-left: 1vw;
}

.rightPanel
{
	width: 47vw;
	margin-left: 2vw;
}

.rightPanel>article
{
	overflow-y: auto;
	max-height: 67vh;
}


h1
{
	margin: 3vh 0;
	font-size: 5vh;
}


img
{
	display: flex;
	height: 30vh;
	margin-top:80px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}