<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>succert - rock your success!</title>
	<link href="style/main.css" type="text/css" rel="stylesheet">
	<link href="style/mobile.css" media="(max-width: 1000px)" type="text/css" rel="stylesheet">
	<link href="style/mini-desktop.css" media="(min-width: 1000px)" media="(max-width: 1250px)" type="text/css" rel="stylesheet">
	<link href="style/desktop.css" media="(min-width: 1250px)" type="text/css" rel="stylesheet">
</head>
<body>
	<header class="leftPanel panel">
			<h1 class="floatMobile">./succert</h1>
			<h2 class="floatMobile">echo "rock your career!"</h2>
			<figure class="floatMobile">
				<img src="pictures/ctfLor.png" alt="">
				<!--<img src="pictures/care.jpg" alt="">-->
			</figure>
			<div class="endFloatMobile"></div>
	</header>
	<main class="rightPanel panel">
		<header>
			<h2>choose your desired position:</h2>
		</header>
		<nav>
			<form action="" method="get">
				<select id="position">
					<option value="cybersecurity engineer">cybersecurity engineer</option>
					<option value="networking specialist">networking specialist</option>
				</select>
			</form>
		</nav>
		<article>
			<ul>
				<li>
					<header><h3>cert name</h3></header>
					<article>cert description</article>
				</li>
			</ul>
		</article>
	</main>
</body>